body {
  margin: 0;

  font-family: "PT Sans Narrow", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}


a {
  text-decoration: none;
}

.main-nav {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.main-nav__site-nav,
.main-nav__user-nav,
.features__list,
.news__list {
  list-style: none;
}

.main-nav__site-nav a,
.main-nav__user-nav a {
  color: #ffffff;
}

.main-nav__site-nav a:hover,
.main-nav__site-nav a:focus,
.main-nav__user-nav a:hover,
.main-nav__user-nav a:focus {
  background-color: #242424;
}

.features__item {
  text-align: center;
}

.features__item h3 {
  font-size: 30px;
  line-height: 42px;
  color: #f7f4f1;
}

.index-columns {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/texture-bg.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news__item time {
  text-transform: none;
}

.gallery__content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery__btn {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.gallery__btn:hover,
.gallery__btn:focus,
.gallery__btn:active {
  background-color: #663d15;
  outline: none;
}

.appointment__item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment__item input:focus {
  border-color: #663d15;
  outline: none;
}

